REAL1_API_KEY=XXXXXXXXXXXXXXX
REAL1_API_SECRET=XXXXXXXXXXXXXXX
REAL2_API_KEY=XXXXXXXXXXXXXXX
REAL2_API_SECRET=XXXXXXXXXXXXXXX
REAL3_API_KEY=XXXXXXXXXXXXXXX
REAL3_API_SECRET=XXXXXXXXXXXXXXX
REAL4_API_KEY=XXXXXXXXXXXXXXX
REAL4_API_SECRET=XXXXXXXXXXXXXXX